<div class="container">
<h1>this is the index for questions</h1>
<p>Answer all questions to join the team and see what others think</p>
<% @questions.each do |question| %>
  <%= question.content %>
<% end %>
</div>
