// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$bg-white: #F6FBF9;
$bg-green: #84C7AE;
$btn-blue: #335E75;
$text-grey: #666666;
$teamind-green: #A7D7C5;
$btn-link-blue: #30586E;
$border-grey: #F2F2F2
  
