<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi there,</h1>
    <p>
      You have been invited to join teamind!
      To sign up, please use your email <%= @user.email %>.
      You will then be able to see your teammates' profiles and working prefs.<br>
    </p>
    <p>
      To sign up, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
