// Specific CSS for your home-page
#landing-blurb {
// padding-top: 20%;
// font-family: $headers-font;
// padding-left: 1%;
// padding-right: 10%;
}

#landing-blurb a {
  color: white;
  // width: 100%;
}

#landing-blurb h1 {
  // width: 100%;
}

#landing-blurb p {
  // width: 100%;
}

#how-to-section {
  margin-bottom: 100px;
  img {
    height: 120px;
    width: 120px;
    object-fit: cover;
  }
  p {
    color: #335e75;
  }
}

#how-to-header {
  margin-top: 100px;
}
