#personality-show {
  margin: auto;
  background-color: #F6FBF9;
  text-align: left;
  border-radius: 24px;
  padding: 40px 50px;

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 0.9rem;
  }

  img {
    width: 75%;
  }
}
