#personality-show {
  margin: auto;
  max-width: 80%;
  background-color: #F6FBF9;
  text-align: left;
  border-radius: 24px;
  padding: 40px 50px;

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 0.75rem;
  }

  img {
    width: 100%;
  }
}
