#team-form { 
  margin: auto;
  background-color: #F6FBF9;
  text-align: center;
  border-radius: 24px;
  padding: 65px 75px;
}

#create-team-form { 
  max-width: 75%;
  text-align: left;
}


.dot { 
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4C8DA9;
  z-index:1;
}

.dot.active { 
  width: 35px;
  height: 35px;
  background: #4C8DA9;
  position: relative;
}

.bar { 
  height: 5px;
  width: 100%;
  background: #4C8DA9;
  position: absolute;
  z-index:0;
}

.bar.active { 
  background: #4C8DA9;
}

.right-0 { 
  right:0;
}

#confirm-form { 
  text-align: left;
}

#confirm-form-background { 
  font-weight: lighter;
  background: white;
  padding: 8px 16px;
  border-radius: 20px;
}

#confirm-buttons { 
  text-align: center;
}

#first-team a { 
  color: #1F333D;
}

