#team-form { 
  margin: auto;
  max-width: 60%;
  background-color: #F6FBF9;
  text-align: center;
  border-radius: 24px;
  padding: 65px 75px;
}

#create-team-form { 
  max-width: 75%;
  text-align: left;
}