<footer class="footer">
  <footer class="container">
    <nav class="footer-links">
      <a href="https://github.com/akspyro/teamind-app"><i class="fab fa-github"></i></a>
    </nav>
    <section class="details">
      <p>| Contact us: info@teamind.club | Copyright Teamind 2021 |</p>
    </section>
    <section class="image-credit">
      <%# Give credit for images only on the page the image is on %>
      <% if action_name == "home" && controller_name == "pages" %>
        <a href="https://www.freepik.com/free-photos-vectors/people">People vector created by pch.vector - www.freepik.com</a>
      <% end %>
    </section>
  </footer>
</footer>
