<footer class="footer">
  <footer class="container">
    <nav class="footer-links">
      <nav href="#"><i class="fab fa-github"></i></nav>
      <nav href="#"><i class="fab fa-instagram"></i></nav>
      <nav href="#"><i class="fab fa-twitter"></i></nav>
      <nav href="#"><i class="fab fa-linkedin"></i></nav>
    </nav>
    <footer class="image-credit">
      Image credit will go here.
    </footer>
  </footer>
</footer>
