<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<button type="button" id="landing-btn">Create Account</button>
<button type="submit" id="login-btn">Log in</button>
<button type="submit" id="signup-btn">Create Account</button>
<button type="submit" id="outline-btn">Log in</button>
<button type="submit" id="small-btn">Proceed</button>