body {
  background-color: $teamind-green;
  position: relative;
  max-width: 100vw;
}

.background-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.background-box {
  background: #C1E3D6;
  border-radius: 15vh;
  transform: rotate(-45deg);
  width: 70vh;
  height: 70vh;
}


#background-box-1 {
  position: absolute;
  left: 60vw;
  top: 80vh;

}

#background-box-2 {
  position: absolute;
  left: -25vh;
  top: 0vh;

}


h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 8px;
}
