#landing-btn, #login-btn, #signup-btn, #small-btn, #medium-btn {
  background-color: $btn-blue;
  border-radius: 24px;
  font-family: $headers-font;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 100%;
}

#landing-btn {
  padding: 2%;
}

#landing-btn a {
  width: 100%;
  font-size: 1.5vw;
}

#login-btn {
  padding: 14px 80px;
  font-size: 20px;
}

#signup-btn {
  padding: 14px 50px;
  font-size: 20px;
}

#small-btn {
  padding: 8px 20px;
}

#medium-btn {
  padding: 12px 26px;
  font-size: 24px;
}

#outline-btn {
  color: $btn-link-blue;
  border: 1px solid $btn-blue;
  border-radius: 24px;
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
}


#plus-button { 
  background-color: $btn-blue;
  color: #FFFFFF;
  font-weight: bold;
  font-size: large;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}


.btn-ghost {
  color: $btn-blue;
  border: 2px solid $btn-blue;
  padding: 3px 7px;
  border-radius: 24px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 12px;
  text-align: center;

}

.btn-ghost:hover {
  opacity: 1;
}

.btn-invitation {
  border-radius: 24px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 12px;
  text-align: right;
  margin-bottom: 5px;
  text-decoration: none;
  padding: 1px 10px;
  width: 85px;

  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

.btn-details {
  color: $btn-blue;
  border: 2px solid $btn-blue;

  &:hover {
    color: $btn-blue;
  }

}

.btn-decline {
  color: $red;
  border: 2px solid $red;
}

.btn-accept {
  color: #33673b;
  border: 2px solid #33673b;
  &:hover {
    color: #33673b;
  }
}

#accept {
  position: absolute;
  right: 15px;
  bottom: 40px;
}

#reject {
  position: absolute;
  right: 15px;
  bottom: 13px;
}

#details {
  position: absolute;
  right: 15px;
  bottom: 13px;
}

#invite-status {
  position: absolute;
  right: 15px;
  bottom: 40px;
}

.btn-ghost:hover {
  opacity: 1;
}
