#landing-btn {
  background-color: $btn-blue;
  border-radius: 24px;
  font-family: karla, sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 24px;
  border: none;
}

#login-btn {
  background-color: $btn-blue;
  border-radius: 24px;
  font-family: karla, sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  padding: 14px 80px;
  font-size: 20px;
  border: none;
}

#signup-btn {
  background-color: $btn-blue;
  border-radius: 24px;
  font-family: karla, sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  padding: 14px 50px;
  font-size: 20px;
  border: none;
}

#small-btn {
  color: #FFFFFF;
  background-color: $btn-blue;
  font-weight: bold;
  border-radius: 24px;
  padding: 8px 20px;
  border: none;
}

#outline-btn {
  color: $btn-link-blue;
  border: 1px solid $btn-blue;
  border-radius: 24px;
  padding: 5px 30px;
}
