#landing-btn, #login-btn, #signup-btn, #small-btn, #medium-btn {
  background-color: $btn-blue;
  border-radius: 24px;
  font-family: $headers-font;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 100%;
}

#landing-btn {
  padding: 2%;
}

#landing-btn a {
  width: 100%;
  font-size: 1.5vw;
}

#login-btn {
  padding: 14px 80px;
  font-size: 20px;
}

#signup-btn {
  padding: 14px 50px;
  font-size: 20px;
}

#small-btn {
  padding: 8px 20px;
}

#medium-btn {
  padding: 12px 26px;
  font-size: 24px;
}

#medium-btn-create {
  padding: 10px 20px;
  font-size: 16px;
  width: 100px;
  background-color: $btn-blue;
  border-radius: 24px;
  font-family: $headers-font;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

#outline-btn {
  color: $btn-link-blue;
  border: 1px solid $btn-blue;
  border-radius: 24px;
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
}


#plus-button { 
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: none;
  background-color: $btn-blue;
  color: #FFFFFF;
  font-weight: bold;
  font-size: large;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;

  &:hover {
    text-decoration: none;
  }
}


.btn-ghost {
  color: $btn-blue;
  border: 2px solid $btn-blue;
  padding: 3px 7px;
  border-radius: 24px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 12px;
  text-align: center;

}

.btn-ghost:hover {
  opacity: 1;
  color: $btn-blue;
}

.btn-invitation {
  border-radius: 24px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 12px;
  text-align: right;
  margin-bottom: 5px;
  text-decoration: none;
  padding: 1px 10px;
  width: 92px;
  height: 24px;

  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

.btn-details {
  color: $btn-blue;
  border: 2px solid $btn-blue;

  &:hover {
    color: $btn-blue;
  }

}

.btn-decline {
  color: $red;
  border: 2px solid $red;
}

.btn-accept {
  color: #33673b;
  border: 2px solid #33673b;
  &:hover {
    color: #33673b;
  }
}

#accept {
  position: absolute;
  right: 15px;
  bottom: 40px;
}

#reject {
  position: absolute;
  right: 15px;
  bottom: 13px;
}

#details {
  position: absolute;
  right: 15px;
  bottom: 13px;
}

#invite-status {
  position: absolute;
  right: 15px;
  bottom: 40px;
}

.btn-ghost:hover {
  opacity: 1;
}

#icon-holder {
  width: 15px;
  margin-right: 5px;
}

#text-holder {
  width: 65px;
}

#personality-btn {
  width: 200px;
  background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%);
  margin: 10px;
  padding: 5px 10px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  &:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  }
}

a:hover {
  text-decoration: none;
}

.add-team-button {
  padding: 12px 24px;
  line-height: 1.25;
  background: $btn-blue;
  text-decoration: none;
  color: white;
  font-family: $headers-font;
  font-size: 16px;
  letter-spacing: .08em;
  text-transform: uppercase;
  position: relative;
  transition: background-color .6s ease;
  overflow: hidden;
  border-radius: 15px;
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%,-50%,0);
    background: rgba(white,.1);
    border-radius: 100%;
    transition: width .3s ease, height .3s ease;
  }
  &:focus,
  &:hover {
      background: darken($btn-blue,7%);
  }
  &:active {
    &:after {
      width: 200px;
      height: 200px;
    }
  }
}


#landing-btn {
  background-color: $btn-blue;
  border-radius: 24px;
  font-family: $headers-font;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 200px;
  padding: 10px 20px;
}
