.card-team {
  max-width: 70%;
  border-radius: 30px;
  overflow: hidden;
  height: 150px;
  background: #F6FBF9;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
  // margin: 20px 0px;
  margin-top: 5%;
  margin-left: 15%;
}

.card-team-img {
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.card-team h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-team p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-team .card-team-infos {
  padding: 16px;
  width: 80%;
}

