.card-team {
  max-width: 90%;
  border-radius: 30px;
  overflow: hidden;
  height: 150px;
  background: #F6FBF9;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
  margin: 5%;
}

.card-team-img {
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.card-team h4 {
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  margin: 0;
}

.card-team p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-team .card-team-infos {
  padding: 16px;
  width: 80%;

  h3 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.no-underline {
  text-decoration: none;
}

#reject {
  color: red;
}

#decline-notification {
  color: red;
  position: absolute;
  right: 15px;
  bottom: 20px;
}

#trash { 
  position: absolute;
  right: 30px;
  top: 20px;
  opacity: 65%;
  cursor: pointer;
    .fa-trash-alt:before {
      content: "\f2ed";
      color:  black;
  }
}
