.card-answers {
  border-radius: 30px;
  background: $bg-white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: auto;
  padding: 30px 60px;
  hr {
    background-color: lightgrey;
    height: 2px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }
}



.center-pills {
  display: inline-flex;
}
