.card-status {
  max-width: 70%;
  border-radius: 30px;
  overflow: hidden;
  height: 150px;
  background: #F6FBF9;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  position: relative;
  margin-top: 5%;
  margin-left: 15%;
  padding: 50px;
  text-align: center;
  height: 50%;
}

.card-status p {
  text-align: left;
}
