.navbar-teamind {
  justify-content: space-between;
  font-family: $headers-font;
  padding: 0;
  width: 100%;
  z-index: 10;
  position: fixed;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-teamind-green {
  background-color: rgba($color: $bg-white, $alpha: 0.8);
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.navbar-teamind .navbar-collapse {
  flex-grow: 0;
}

.navbar-teamind .navbar-brand img {
  width: 40px;
}

.navbar-teamind p {
  text-align: center;
  font-weight: bold;
}

.dropdown-menu {
  border-radius: 15px;
  right: 0px;
  background-color: $bg-white;
}

.dropdown-item {
  text-align: left;
  &:hover {
    background-color: $teamind-green;
    color: #335E75;
    font-weight: bold;
  }
}

.dropdown {
  cursor: pointer;
}

#navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
}
