.navbar-teamind {
  justify-content: space-between;
  font-family: $headers-font;
  // padding-left: 5%;
  // padding-right: 5%;
}

.navbar-teamind .navbar-collapse {
  flex-grow: 0;
}

.navbar-teamind .navbar-brand img {
  width: 40px;
}

.navbar-teamind p {
  text-align: center;
  font-weight: bold;
}

.dropdown-item {
  text-align: left;
}
