.navbar-teamind {
  justify-content: space-between;
  font-family: $headers-font;
  padding: 0;
  width: 100%;
  z-index: 10;
  position: fixed;
  background-color: transparent;
  transition: 0.5s background-color ease;
  // background-color: blue;
}

.navbar-teamind-green {
  background-color: $teamind-green;
}

.navbar-teamind .navbar-collapse {
  flex-grow: 0;
}

.navbar-teamind .navbar-brand img {
  width: 40px;
}

.navbar-teamind p {
  text-align: center;
  font-weight: bold;
}

.dropdown-menu {
  border-radius: 24px;
  right: 0px;
}

.dropdown-item {
  text-align: left;
  border-radius: inherit;
}

.dropdown {
  cursor: pointer;
}
