// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'pretty-checkbox/src/pretty-checkbox';


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/personality_questionnaire";

.body-container {
  height: 100vh;
  padding-top: 5em;
}
