<div class="d-flex align-items-center justify-content-around">
  <div class="bar"></div>
  <div class="dot <%= "active" if step == 1%>"></div>
  <div class="dot <%= "active" if step == 2%>"></div>
  <div class="dot <%= "active" if step == 3%>"></div>
</div>
