<div class="text-center">
<div class="d-flex align-items-center justify-content-between position-relative w-50 m-auto">
  <div class="bar"></div>
  <div class="dot <%= "active" if step == 1%>"></div>
  <div class="dot <%= "active" if step == 2%>"></div>
  <div class="dot <%= "active" if step == 3%>"></div>
</div>
</div>
